<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mosyapp.snitchdefender"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name="de.mosyapp.snitchdefender.Check"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.mosyapp.snitchdefender.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.mosyapp.snitchdefender.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="de.mosyapp.snitchdefender.CreateNotificationService" >
        </service>
        <service android:name="de.mosyapp.snitchdefender.ActivateCountDownTimer" >
        </service>
        <service android:name="de.mosyapp.snitchdefender.DeactivateCountDownTimer" >
        </service>

        <activity
            android:name="de.mosyapp.snitchdefender.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="de.mosyapp.snitchdefender.DimmActivity"
            android:label="@string/title_activity_dimm"
            android:showOnLockScreen="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="de.mosyapp.snitchdefender.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
			android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.mosyapp.snitchdefender.FirstScreenActivity"
            android:screenOrientation="portrait" 
            android:theme="@style/Theme.Base.AppCompat.Dialog.Light.FixedSize" >/
        </activity>
        
    </application>

</manifest>